@font-face {
  font-family: Rubik;
  src: url(Rubik-VariableFont_wght.ttf);
}

@keyframes move-down {
  0% {
    bottom: -20px;
    opacity: 0;
  }
  40% {
    bottom: -20px;
    opacity: 0;
  }
  100% {
    bottom: -40px;
  }
}

@keyframes move-up {
  0% {
    top: -20px;
    opacity: 0;
  }
  40% {
    top: -20px;
    opacity: 0;
  }
  100% {
    top: -40px;
  }
}

:root {
  --dark-accent-color: #736ec2;
  --main-accent-color: #8b86cf;
  --light-accent-color: #d5d3ed;
  --error-color: #ff7b7b;
  --black-color: #333;
  --white-color: #f5f5f5;

  --body-bg-color: #f5f5f5;
  --input-bg-color: #eee;
  --blur-bg-color: rgba(115, 110, 194, 0.2);
  --block-bg-color: #fff;

  --shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;

  --gradient-bg: linear-gradient(
    var(--main-accent-color),
    var(--dark-accent-color)
  );
}

* {
  font-family: Rubik, Arial, Calibri;
  list-style-type: none;
  text-decoration: none;
}

*:focus {
  outline: none;
}

body {
  display: flex;
  background-color: var(--body-bg-color);
  color: var(--black-color);
}

a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 250px;
  color: var(--black-color);
}

input[type="submit"],
input[type="text"],
input[type="password"],
textarea {
  width: 100px;
  border-width: 0;
  border-radius: 20px;
  height: 40px;
  width: 100%;
  color: var(--black-color);
}

input[type="file"] {
  margin-top: 1em;
}

input[type="submit"] {
  background-color: var(--light-accent-color);
  margin-top: 1em;
  cursor: pointer;
  transition: box-shadow 250ms linear;
}

input[type="submit"]:hover {
  box-shadow: var(--shadow);
}

input[type="text"],
input[type="password"],
textarea {
  background-color: var(--input-bg-color);
  text-align: center;
  margin-bottom: 1em;
  opacity: 0.7;
  transition: opacity 250ms linear;
}

input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  opacity: 1;
}

input[type="checkbox"] {
  cursor: pointer;
}

textarea {
  height: 10em;
  padding: 1em;
}

.not-empty-field {
  opacity: 1 !important;
}

.error-msg {
  color: var(--error-color);
  white-space: nowrap;
  font-size: 0.7em;
  margin-top: -1.2em;
}

.error-input {
  border: 2px solid var(--error-color) !important;
}

.form-remember {
  font-size: 0.7em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-remember span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-remember a {
  color: var(--dark-accent-color);
}

/* Base template: navigation bar */
#navbar {
  background: var(--gradient-bg);
  background-color: var(--dark-accent-color);
  display: grid;
  grid-template-rows: 2fr 3fr 1fr;
  align-items: center;
  text-align: center;
  width: 300px;
  color: var(--white-color);
  margin-right: 8px;
}

.navbar-logo img {
  height: 50px;
}

.navbar-logo span {
  display: block;
}

.navbar-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navbar-profile img {
  height: auto;
  width: auto;
  max-height: 10em;
  max-width: 100%;
  border-radius: 25px;
  object-fit: cover;
  box-shadow: var(--shadow);
}

.navbar-profile-name {
  margin-top: 1em;
}

.navbar-profile-role {
  opacity: 0.6;
  font-size: 0.9em;
}

#navbar ul {
  margin-bottom: 25px;
}

.navbar-a {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  margin: 5px 10%;
  width: 80%;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  color: var(--white-color);
  transition: background-color 250ms linear, color 250ms linear;
}

.navbar-a:hover {
  background-color: var(--body-bg-color);
  color: var(--dark-accent-color);
}

.material-icons-outlined {
  font-size: 1.3em !important;
  text-align: right;
}

.navbar-link-name {
  text-align: left;
  margin-left: 5%;
}

.active-page {
  position: relative;
  width: 80%;
  margin-left: 20% !important;
  background-color: var(--body-bg-color);
  color: var(--dark-accent-color);
  border-radius: 20px 0 0 20px;
  transition: margin-left 250ms linear, border-radius 250ms linear;
  z-index: 0;
}

.active-page::before,
.active-page::after {
  content: "";
  position: absolute;
  background-color: transparent;
  height: 40px;
  right: 0;
  width: 20px;
  z-index: -1;
}

.active-page::before {
  bottom: -40px;
  border-top-right-radius: 20px;
  box-shadow: 0 -20px 0 0 var(--body-bg-color);
  animation: move-down 500ms;
}

.active-page::after {
  top: -40px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 20px 0 0 var(--body-bg-color);
  animation: move-up 500ms;
}

/* Base template: flash messages */
#flash-messages {
  display: none;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 8px;
  color: var(--black-color);
  transition: width 500ms ease-in-out;
  text-align: center;
}

.view-flash-msg {
  width: 300px !important;
}

#flash-msg-count {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: var(--blur-bg-color);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}

.view-flash-msg #flash-msg-count {
  background-color: transparent;
  color: transparent;
}

.flash-msg-li {
  position: relative;
  top: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  margin-bottom: -40px;
  background-color: var(--blur-bg-color);
  backdrop-filter: blur(20px);
  white-space: nowrap;
  color: transparent;
  transition: margin 500ms ease-in-out, color 500ms ease-in-out;
  z-index: -1;
  overflow: hidden;
}

.view-flash-msg-li {
  color: inherit;
  margin-bottom: 5px;
  z-index: 2;
}

/* Base template: content block */
.radius-div {
  border-radius: 25px;
}

.block-title {
  margin: 1%;
  font-size: 1.5em;
}

#content-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.page-name {
  margin-left: 20px;
  text-align: left;
}

.block {
  display: grid;
  background-color: var(--block-bg-color);
  color: var(--black-color);
  box-shadow: var(--shadow);
  z-index: 2;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.full-page-view {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  align-items: center;
  height: 100%;
}

.half-page-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  height: 100%;
}

.half-page-block {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}

.quarter-page-view {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 8px;
  height: 100%;
}

.quarter-page-block {
  height: 100%;
}

.quarter-page-block div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quarter-page-block img {
  height: 8em;
}

/* Chat */
#messages p {
  background-color: #fff;
  transition: background-color 1000ms linear;
}

.message-new {
  background-color: #c9ebff !important;
}
