@font-face {
  font-family: Rubik;
  src: url(Rubik-VariableFont_wght.ttf);
}

@keyframes move-down {
  0% {
    bottom: -20px;
    opacity: 0;
  }
  40% {
    bottom: -20px;
    opacity: 0;
  }
  100% {
    bottom: -40px;
  }
}

@keyframes move-up {
  0% {
    top: -20px;
    opacity: 0;
  }
  40% {
    top: -20px;
    opacity: 0;
  }
  100% {
    top: -40px;
  }
}

:root {
  --accent-color: #5954aa;
  --main-bg-color: #e9e6f0;
  --blur-bg-color: rgba(89, 84, 170, 0.2);
  --block-bg-color: #fff;
  --white-font-color: #fff;
  --black-font-color: #000;
  --gradient-bg: linear-gradient(#736ec2, #5954aa);
}

* {
  font-family: Rubik, Arial, Calibri;
  list-style-type: none;
  text-decoration: none;
}

body {
  display: flex;
  background-color: var(--main-bg-color);
}

ul {
  margin: 0;
  padding: 0;
}

.radius-div {
  border-radius: 25px;
}

/* Base template: navigation bar */
#navbar {
  background: var(--gradient-bg);
  background-color: var(--accent-color);
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  align-items: center;
  text-align: center;
  width: 300px;
  color: var(--white-font-color);
  margin-right: 8px;
}

.navbar-logo img {
  height: 50px;
}

.navbar-logo span {
  display: block;
}

#navbar ul {
  margin-bottom: 25px;
}

.navbar-a {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  margin: 5px 10%;
  width: 80%;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  color: var(--white-font-color);
}

.navbar-a:hover {
  background-color: var(--main-bg-color);
  color: var(--accent-color);
}

.material-icons-outlined {
  font-size: 1.3em !important;
  text-align: right;
}

.navbar-link-name {
  text-align: left;
  margin-left: 5%;
}

.active-page {
  position: relative;
  width: 80%;
  margin-left: 20% !important;
  background-color: var(--main-bg-color);
  color: var(--accent-color);
  border-radius: 20px 0 0 20px;
  transition: margin-left 250ms linear, border-radius 250ms linear;
  z-index: 0;
}

.active-page::before,
.active-page::after {
  content: "";
  position: absolute;
  background-color: transparent;
  height: 40px;
  right: 0;
  width: 20px;
  z-index: -1;
}

.active-page::before {
  bottom: -40px;
  border-top-right-radius: 20px;
  box-shadow: 0 -20px 0 0 var(--main-bg-color);
  animation: move-down 500ms;
}

.active-page::after {
  top: -40px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 20px 0 0 var(--main-bg-color);
  animation: move-up 500ms;
}

/* Base template: flash messages */
#flash-messages {
  display: none;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1%;
  color: var(--accent-color);
  transition: width 500ms ease-in-out;
  text-align: center;
}

.view-flash-msg {
  width: 300px !important;
}

#flash-msg-count {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: var(--blur-bg-color);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}

.view-flash-msg #flash-msg-count {
  background-color: transparent;
  color: transparent;
}

.flash-msg-li {
  position: relative;
  top: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  margin-bottom: -40px;
  background-color: var(--blur-bg-color);
  backdrop-filter: blur(10px);
  white-space: nowrap;
  color: transparent;
  transition: margin 500ms ease-in-out, color 500ms ease-in-out;
  z-index: -1;
  overflow: hidden;
}

.view-flash-msg-li {
  color: inherit;
  margin-bottom: 5px;
  z-index: 2;
}

/* Base template: content block */
#content-block {
  width: 100%;
  text-align: center;
  background-color: var(--block-bg-color);
  color: var(--black-font-color);
}

/* Chat */
#messages p {
  background-color: #fff;
  transition: background-color 1000ms linear;
}

.message-new {
  background-color: #c9ebff !important;
}
