{% extends 'base.html' %}

{% block content %}
<h1>Обследования</h1>
{% if exams %}
{% for exam in exams %}
<a href="{{ url_for('main.worker_profile', id=exam.worker.id) }}">{{ exam.worker.second_name }} {{
    exam.worker.first_name }}</a>
<a href="{{ url_for('exam.view_examination', id=exam.id) }}">{{ exam }}</a>
{% for new_id in new_exam %}
{% if exam.id == new_id.exam_id %}
<span>Новое</span>
{% endif %}
{% endfor %}
{% if exam.close_status == True %}
<span>Допуск</span>
{% elif exam.close_status == False %}
<span>Запрет</span>
{% endif %}
<br>
{% endfor %}
{% else %}
<p>Обследования еще не проводились</p>
{% endif %}
{% endblock %}