{% extends 'base.html' %}

{% block content %}
<h1>Обследования {{ examination.worker }} {{ examination.datetime}}</h1>
<p>{{ examination }}</p>
{% if not examination.close_time %}
<form id="message-form" action="#">
    <label for="message">Сообщение</label><br>
    <textarea name="message" id="message" required size="32"></textarea><br>
    <input id="submit" name="submit" type="submit" value="Отправить">
</form>
{% if current_user.role == 'doctor' %}
<button id="admit" class="close" type="submit" value="1">Допустить</button>
<button id="forbid" class="close" type="submit" value="0">Запретить</button>
{% endif %}
{% endif %}
<br>
<div id="messages">
    {% for msg in messages %}
    <p>{{ msg }}</p>
    {% endfor %}
</div>
{% endblock %}