<html>

<head>
    {% if title %}
    <title>{{ title }} - Диплом</title>
    {% else %}
    <title>Добро пожаловать в Диплом</title>
    {% endif %}
</head>

<body>
    <div>Диплом:
        <a href="{{ url_for('index') }}">Главная</a>
        {% if current_user.role == 'company' %}
        <a href="{{ url_for('company') }}">Компания</a>
        {% elif current_user.role == 'doctor' %}
        <a href="{{ url_for('doctor', username=current_user.username) }}">Доктор</a>
        {% endif %}
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Войти</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Выйти</a>
        {% endif %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>

</html>