<html>

<head>
    {% if title %}
    <title>{{ title }} - Диплом</title>
    {% else %}
    <title>Добро пожаловать в Диплом</title>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div>Диплом:
        <a href="{{ url_for('main.index') }}">Главная</a>
        {% if current_user.role == 'company' %}
        <a href="{{ url_for('main.company', username=current_user.username) }}">Компания</a>
        {% elif current_user.role == 'doctor' %}
        <a href="{{ url_for('main.doctor', username=current_user.username) }}">Доктор</a>
        <a href="{{ url_for('main.examinations') }}">Обследования
            {% set new_messages = current_user.new_messages() %}
            <span id="message_count" class="badge" style="visibility: {% if new_messages %}visible
                                                     {% else %}hidden{% endif %};">
                {{ new_messages }}
            </span>
        </a>
        {% endif %}
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('auth.login') }}">Войти</a>
        {% else %}
        <a href="{{ url_for('auth.logout') }}">Выйти</a>
        {% endif %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>

{% block scripts %}
<script>
    {% if current_user.is_authenticated %}
    function set_message_count(n) {
        $('#message_count').text(n);
        $('#message_count').css('visibility', n ? 'visible' : 'hidden');
    }

    function add_new_messages(m) {
        var msg = $("<p></p>").text(m);
        $('#new_messages').prepend(msg);
    }

    $(document).ready(function () {
        var since = 0;
        setInterval(function () {
            $.ajax('{{ url_for('main.messages') }}?since=' + since).done(
                function (messages) {
                    for (var i = 0; i < messages.length; i++) {
                        if (messages[i].status) {
                            if ($('#new_messages').length) {
                                var message = messages[i].author + ': ' + messages[i].body;
                                add_new_messages(message);
                            }
                            set_message_count(messages[i].payload_json);
                            since = messages[i].timestamp;
                        }
                    };
                }
            );
        }, 10000);
    });

    {% if title == 'Просмотр обследования' %}
    $(document).ready(function () {
        $('#message_form').on('submit', function (e) {

            $.ajax({

                data: {
                    message: $('#message').val(),
                    exam_id: {{ examination.id }}
                },
                type: 'POST',
                url: '{{ url_for('main.send_message') }}'

            }).done(function (data) {
                
                $('#message').val('');
                var msg = data.author + ': ' + data.message;
                add_new_messages(msg);

            });

            e.preventDefault();
        });

        $('#message_form').keypress((e) => {

            if (e.which === 13) {
                $('#message_form').submit()
            }

        });
    });

    {% endif %}
    {% endif %}

    
</script>
{% endblock %}

</html>