<html>

<head>
    {% if title %}
    <title>{{ title }} - Диплом</title>
    {% else %}
    <title>Добро пожаловать в Диплом</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div id="workplace">
        <div id="navbar" class="workplace-div">
            <span class="navbar-logo">Диплом</span>
            <ul class="navbar-ul">
                <a href="{{ url_for('main.index') }}">
                    <li class="navbar-li">Главная</li>
                </a>
                {% if current_user.role == 'company' %}
                <a href="{{ url_for('main.company', username=current_user.username) }}">
                    <li class="navbar-li">Компания</li>
                </a>
                {% elif current_user.role == 'doctor' %}
                <a href="{{ url_for('main.doctor', username=current_user.username) }}">
                    <li class="navbar-li">Доктор</li>
                </a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a id="link-exams" href="{{ url_for('exam.view_all') }}">
                    <li class="navbar-li">
                        Обследования
                        {% set new_messages = current_user.new_messages() %}
                        {% if new_messages %}
                        <span id="exams-count" class="badge">{{ new_messages }}</span>
                        {% endif %}
                    </li>
                </a>
                {% endif %}
            </ul>
            <ul class="navbar-ul navbar-ul-btm">
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('auth.login') }}">
                    <li class="navbar-li">Вход</li>
                </a>
                <a href="{{ url_for('auth.register_company') }}">
                    <li class="navbar-li">Регистрация</li>
                </a>
                {% else %}
                <a href="{{ url_for('auth.logout') }}">
                    <li class="navbar-li">Выйти</li>
                </a>
                {% endif %}
            </ul>
        </div>
        <div id="content-block" class="workplace-div">{% block content %}{% endblock %}</div>
    </div>
    <div id="flash-messages">
        <span id="flash-msg-count"></span>
        {% with messages = get_flashed_messages() %}
        <ul class="flash-msg-ul">
            {% if messages %}
            {% for message in messages %}
            <li class="flash-msg-li">{{ message }}</li>
            {% endfor %}
            {% endif %}
            <li class="flash-msg-li">Поздравляем с регистрацией!</li>
            <li class="flash-msg-li">Еще одно сообщение...</li>
        </ul>
        {% endwith %}
    </div>
</body>

{% if current_user.is_authenticated %}
<script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='js/style.js') }}"></script>

</html>