{% extends 'base.html' %}

{% block content %}
<h1>{{ company.name }}!</h1>
{% if company.avatar_file %}
<img src="{{ url_for('main.uploads', path=company.uploads_path, filename=company.avatar_file) }}" style="width: 300px">
{% else %}
<img src="../static/default-avatar.png" alt="Default avatar" style="width: 300px">
{% endif %}
{% if company.id == current_user.id %}
<p><a href="{{ url_for('main.edit_user') }}">Изменить данные</a></p>
{% if company.doctor and company.workers.all() %}
<p><a href="{{ url_for('exam.start_examination') }}">Запустить обследование</a></p>
{% endif %}
{% endif %}
<p>
    {% if company.doctor.username %}
    <a href="{{ url_for('main.doctor', username=company.doctor.username) }}">{{ company.doctor }}</a>
    {% else %}
    <a href="{{ url_for('auth.register_doctor') }}">Добавить доктора</a>
    {% endif %}
</p>
<p><a href="{{ url_for('main.workers') }}">Работники</a></p>
{% for date in dates %}
<p><a href="{{ url_for('exam.view_date', date=date) }}">{{ date }}</a></p>
{% endfor %}
{% endblock %}