{% extends 'base.html' %}

{% block content %}
<h1>{{ doctor.first_name }} {{ doctor.second_name }}!</h1>
{% if doctor.avatar_file %}
<img src="{{ url_for('main.uploads', path=doctor.uploads_path, filename=doctor.avatar_file) }}" style="width: 300px">
{% else %}
<img src="../static/default-avatar.png" alt="Default avatar" style="width: 300px">
{% endif %}
{% if doctor.id == current_user.id %}
<p><a href="{{ url_for('main.edit_user') }}">Изменить данные</a></p>
{% endif %}
<p>
    <a href="{{ url_for('main.company', username=company.username) }}">{{ company }}</a>
</p>
{% endblock %}