{% extends 'base.html' %}

{% block content %}
<h1>Изменение данных работника</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.second_name.label }}<br>
        {{ form.second_name(size=32) }}<br>
        {% for error in form.second_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.first_name.label }}<br>
        {{ form.first_name(size=32) }}<br>
        {% for error in form.first_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.middle_name.label }}<br>
        {{ form.middle_name(size=32) }}<br>
        {% for error in form.middle_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% if worker.avatar_file %}
<img src="{{ url_for('main.uploads', path=worker.uploads_path, filename=worker.avatar_file) }}" style="width: 300px">
{% else %}
<img src="../static/img/default-avatar.png" alt="Стандартный аватар" style="width: 300px">
{% endif %}
<form action="{{ url_for('main.upload_avatar', table='worker', id=worker.id) }}" method="POST"
    enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" />
</form>
{% endblock %}